body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, white, #f0f8ff 50%, #87ceeb);
    color: #333;
    margin: 0;
    padding: 20px;
  }
  
  pre {
    color: #20639B;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #003049;
    margin: 10px 0;
  }
  
  strong {
    color: #0A5C36;
  }
  
  mark {
    background-color: rgb(255, 255, 0);
  }
  
  a {
    color: #2a2a35;
    text-decoration: none;
  }
  
  a:hover {
    color: #A3BAD8;
  }
  
  table {
    width: 30vw;
    border-collapse: collapse;
    border: 1px solid #1D2951;
    margin-bottom: 20px;
  }
  
  th {
    background-color: #34495e;
    color: white;
    padding: 5px;
    border-bottom: 3px solid #1D2951;
  }
  
  tr, td {
    border: 1px solid #1D2951;
    padding: 8px;
  }
  
  dl {
    border: 1px solid #1D2951;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  ol {
    list-style-type: upper-alpha;
    margin-left: 20px;
  }
  
  ul {
    list-style-type: square;
    margin-left: 20px;
  }
 
  td:nth-child(even) {
  background-color: #ecf0f1; 
  }
  
  iframe {
    width: 20vw;
    height: 20vh;
    border: none;
  }

  button {
    background-color: #e67e22;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d35400;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
    color: white;
    margin-top: 20px;
  }
  